.order {
    font-family: 'Lato';
    padding: 150px 0;
    background-color: #ffc61a;
    &-container {
        display: flex;
        width: 1200px;
        margin: 0 auto;
    }
    &-start {
        width: 560px;
        max-height: 450px;
        
        &-title {
            font-size: 35px;
            text-transform: uppercase;
            padding-bottom: 20px;
            &__subtitle {
                text-transform: uppercase;
                font-size: 50px;
                padding-bottom: 40px;
            }
            &__desc {
                font-size: 18px;
                padding-bottom: 40px;
            }
        }
    }
    &-end {
        height: 475px;
    }
}


.form {
    width: 425px;
    height: 450px;
    margin-left: 150px;
    &-title {
        background: #000;
        color: #fff;
        padding: 15px 0 15px 20px;
        font-weight: 900;
       
        &__text {
            font-size: 35px;
            text-transform: uppercase;
            & span {
                color: #ffc61a;;
            }
        }
    }
    &-main {
        background: #fff;
        max-height: 475px;
        padding: 20px 0;
        &-items {
            display: flex;
            margin: 0 20px ;
            flex-wrap: wrap;
            justify-content: space-between;
           
            &__item {
                padding: 15px 0;
                font-size: 15px;
                margin-bottom: 10px;
                border: 0;
                border-bottom: 1px solid #e4e4e4;
                color: black;
                &::placeholder{
                    color: black;
                    font-weight: 900;
                }
                &:focus {
                    // border: 0;
                    border-bottom: 1px solid black;
                    outline: none;
                }
                
                &:nth-child(7) {
                    flex-grow: 2;
                }
            }
        }
    }
}