.title {
    position: relative;
    min-height: 740px;
    background: url('../assets/bg/bg1.jpg') rgba($color: #000000, $alpha: 1.0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: .5);
        width: 100%;
        height: 100%;
        
    }
    &-container {
        position: relative;
        max-width: 1200px;
        min-height: 740px;
        margin: 0 auto;
        text-align: center;
        
    }
    &-heading {
        text-transform: uppercase;
        text-align: center;
        color: #ffc61a;
        font-family: 'Lato';
        font-size: 25px;
        &__item {
            padding-top: 150px;
        }
    }
    &-number {
        font-family: 'Lato';
        &__item {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-size: 72px;
            font-weight: 900;
        }
    }
    &-link {
        font-family: 'Lato';
        font-size: 20px;
        text-align: center;
        &__item {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            letter-spacing: 17px;
            font-weight: 600;
        }
    }
    &-image {
        height: 460px;
        width: 850px;
        position: absolute;
        left: 160px;
        bottom: -100px;
        &__item {
            width: 100%;
        }
    }
}